<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alibaba.csp.sentinel.dashboard.dao.SentinelRuleDao">
    <sql id="tableName">sentinel_rule</sql>

    <sql id="commonSQL">
        <trim prefix="set" suffixOverrides=",">
            <if test="ruleContext !=null and ruleContext !=''">ruleContext = #{ruleContext},</if>
            <if test="createDate !=null ">createDate = #{createDate},</if>
            <if test="modifiedDate !=null ">modifiedDate = #{modifiedDate},</if>
            <if test="host !=null and host !=''">host = #{host},</if>
            <if test="port !=null and port !=''">port = #{port},</if>
            <if test="appName !=null and appName !=''">appName = #{appName},</if>
            <if test="version !=null and version !=''">version = #{version},</if>
            <if test="status !=null and status !=''">status = #{status},</if>
            <if test="deleteFlag !=null and deleteFlag !=''">deleteFlag = #{deleteFlag},</if>
        </trim>
    </sql>

    <sql id="baseColumnName">
        ruleContext,host,port,appName,version,
    </sql>

    <select id="selectAll" resultType="com.alibaba.csp.sentinel.dashboard.bean.sentinel.SentinelRule">
        select * from
        <include refid="tableName"/>
        where deleteFlag=0 and status=1
    </select>

    <select id="select" resultType="com.alibaba.csp.sentinel.dashboard.bean.sentinel.SentinelRule" parameterType="com.alibaba.csp.sentinel.dashboard.bean.sentinel.SentinelRule">
        select * from
        <include refid="tableName"/>
        where 1=1
        and deleteFlag=0
        and status=1
        <if test="id != null and id !=''">
            and id = #{id,jdbcType=DECIMAL}
        </if>
        <if test="appName != null and appName !=''">
            and appName = #{appName,jdbcType=VARCHAR}
        </if>
        <if test="host !=null and host !=''">
            and host = #{host,jdbcType=VARCHAR}
        </if>
        <if test="port !=null and port !=''">
            and port = #{port,jdbcType=DECIMAL}
        </if>
        <if test="version !=null and version !=''">
            and version = #{version,jdbcType=VARCHAR}
        </if>

    </select>


    <update id="update" parameterType="com.alibaba.csp.sentinel.dashboard.bean.sentinel.SentinelRule">
        UPDATE
        <include refid="tableName"/>
        <include refid="commonSQL"/>,
        set modifiedDate = now()
        WHERE id=#{id}
    </update>

    <update id="delete" parameterType="com.alibaba.csp.sentinel.dashboard.bean.sentinel.SentinelRule">
        update <include refid="tableName"/>
        set deleteFlag=1
        where id=#{id}
    </update>

    <insert id="add" parameterType="java.util.List">
        insert into
        <include refid="tableName"/>

        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="baseColumnName"/>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
        <foreach collection="list" item="item" separator=",">
            #{item.ruleContext},
            #{item.host},
            #{item.port},
            #{item.appName},
            #{item.version},
        </foreach>
        </trim>
    </insert>
</mapper>