<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alibaba.csp.sentinel.dashboard.dao.UserDao">
    <select id="findByLoginname" parameterType="string" resultType="com.alibaba.csp.sentinel.dashboard.bean.auth.User">
    SELECT * FROM USER_INFO WHERE LOGINNAME=#{loginname} and deleteflag = '0'
    </select>


    <select id="findRolesByUserId" parameterType="string" resultType="com.alibaba.csp.sentinel.dashboard.bean.auth.Roles">
    select * from roles where rolesId in (select rolesid from user_rel_roles where userid = #{userid} and deleteflag = '0'    )  and deleteflag = '0'
    </select>


    <select id="findAuthByUserId" parameterType="string" resultType="java.util.HashMap">
    select * from authority where authid in(
         select authrel.authid from roles_rel_auth authrel
            inner join roles r on r.rolesid = authrel.rolesid and r.deleteflag = '0'
            inner join user_rel_roles userrel on userrel.rolesid = r.rolesid and userrel.deleteflag = '0'
            where userrel.userid = #{userid} and authrel.deleteflag = '0'
        ) and  deleteflag = '0'
    </select>


    <select id="findAllAuth" resultType="java.util.HashMap">

    select concat(auth.authid) authid, auth.authurl ,r.rolescode from authority auth
        inner join  roles_rel_auth authrel on auth.authid = authrel.authid and authrel.deleteflag = '0'
        inner join roles r on r.rolesid = authrel.rolesid and r.deleteflag = '0'
        where auth.deleteflag = '0'
        order by auth.authid
    </select>
</mapper>